/** @format */

.list {
	text-align: left;
	max-width: 750px;
	margin: auto;
}

.submit-form {
	max-width: 300px;
	margin: auto;
}

.edit-form {
	max-width: 300px;
	margin: auto;
}
.container_cliente {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"botao botao card1 card2"
		"botao botao card3 card4";
}

.botao {
	grid-area: botao;
	align-items: center;
	justify-content: center;
}

.card1 {
	grid-area: card1;
}
.card2 {
	grid-area: card2;
}
.card3 {
	grid-area: card3;
}
.card4 {
	grid-area: card4;
}


.container_gerente {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"card1 card2"
		"card3 card4"
		"graph1 graph1"
		"graph3 graph3";
}

.graph1 {
	grid-area: graph1;
}

.graph3 {
	grid-area: graph3;
}
